# Blog config

export SOCIALITE_ACTIVE_USERS=128
export SOCIALITE_CONCURRENCY=128
export SOCIALITE_CSV_DIRECTORY='./csv'
export SOCIALITE_DURATION=900
export SOCIALITE_LOAD_THREADS=500
export SOCIALITE_MAX_FOLLOWS=200
export SOCIALITE_MESSAGES=100
export SOCIALITE_SESSION_DURATION=10
export SOCIALITE_USERS=100000
export SOCIALITE_START=1
export SOCIALITE_STOP=100
export SOCIALITE_TARGET_RATE=0
#export SOCIALITE_TARGET_RATE=70

export SOCIALITE_YML=config.yml

export SOCIALITE_FOLLOW_PCT=0.02
export SOCIALITE_UNFOLLOW_PCT=0.01
export SOCIALITE_READ_TIMELINE_PCT=0.50
export SOCIALITE_SCROLL_TIMELINE_PCT=0.41
export SOCIALITE_SEND_CONTENT_PCT=0.04
export SOCIALITE_FOF_AGG_PCT=0.01
export SOCIALITE_FOF_QUERY_PCT=0.01

